{% extends 'layout.html.twig' %}

{% block body %}
    <a name="header"></a><header>
        <h3>Categories list</h3>
    </header>

    <table class="table table-hover">
        <tr class="active">
            <th>№</th>
            <th>Name</th>
            <th>Parent category</th>
            <th>Child category(ies)</th>
            <th colspan="2">Actions</th>
        </tr>

        {% for category in categories %}
            {% if loop.index % 2 == 0 %}
                <tr class = "info">
            {% endif %}
                    <td>{{ loop.index + (10*categories.currentPageNumber - 10) }}</td>
                    <td>{{ category.name }}</td>

                    {% if category.parent %}
                        <td>{{ category.parent }}</td>
                    {% else %}
                        <td>---||---||---</td>
                    {% endif %}

                    {% if not category.parent %}
                        <td>
                            {% for child in category.children %}
                                {{ child }} <br />
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>---||---||---</td>
                    {% endif %}

                    <td><a href="{{ path('category_update', {'id':category.id }) }}">edit</a></td>
                    <td><a href="{{ path('category_delete', {'id':category.id }) }}">delete</a></td>
                </tr>

        {% endfor %}
    </table>

    <div class="pager">
        {{ knp_pagination_render(categories) }}
    </div>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}



