{% extends 'layout.html.twig' %}

{% block body %}
    {% if message %}
        <a name="sort_anchor">
        <p class="bg-info message">{{ message }}</p>
    {% endif %}
    {{ greeting()|raw}}
    {% for article in articles %}
        <article class="article">
            <section class="article-title">
                <h2>
                    <a href="{{ path('show_article', {'slug': article.slug}) }}#article_title">
                        {{ article.title }}
                    </a>
                </h2>
                <span class="category">
                   Category:[<a href="{{ path('article_list_by_category', {'slug':article.category.slug}) }}#sort_anchor">{{ article.category }}</a>]
                </span>
            </section>
            <div class="date">
                <time>{{ article.dateCreated|date('l, F j, Y') }}</time>
                {% if app.user in article.users or is_granted('ROLE_ADMIN') %}
                    <span class="glyphicon">
                        <a href="{{ path('article_update', {'id':article.id}) }}#article"><span class="glyphicon-edit"></span></a>
                        <a href="{{ path('article_delete', {'id':article.id}) }}"><span class="glyphicon-remove"></span></a>
                    </span>
                {% endif %}
            </div>
            {% if not article.imageName %}
                <img src="{{ asset('articles/no_image.png')}}">
            {% else %}
                <img src="{{ asset('articles/'~ article.imageName )}}">
            {% endif %}
            <p>{{ article.content(300) }}</p>
            <p class="continue">
                <a href="{{ path('show_article', { 'slug': article.slug }) }}">
                    Continue reading...
                </a>
            </p>
            <footer class="meta">
                <p>
                    <span class="glyphicon glyphicon-comment"></span>
                    <a href="{{ path('show_article', {'slug':article.slug}) }}#comments">
                        <span class="badge">
                            {{ article.comments|length }}
                        </span>
                    </a>&nbsp &nbsp
                    {% if app.user in article.liked_users %}
                        {% set color = 'steelblue' %}
                    {% else %}
                        {% set color = 'lightblue' %}
                    {% endif %}
                    <span class="glyphicon glyphicon-heart" id="like_hart" style="color:{{ color }}"></span>
                    <span class="badge">
                        {{ article.likes }}
                    </span>
                </p>
                <p>
                    Posted by
                    {% for user in article.users %}
                        <span class="author">
                            <a href="{{ path('user_profile', {'id':user.id}) }}#anchor">
                                {{ user }}
                            </a>
                        </span>
                    {% endfor %}
                    at {{ article.dateCreated|date('G:i, j.m.Y') }}
                </p>
                {% if article.dateUpdated %}
                    <p>
                        Updated by
                        <span class="author">
                            <a href="{{ path('user_profile', {'id':article.updatedBy.id}) }}#anchor">
                                {{ article.updatedBy }}
                            </a>
                        </span>
                        at {{ article.dateUpdated|time_diff }}</p>
                {% endif %}
                {% if article.tags|length > 0 %}
                    <p>
                        Tags:
                        {% for tag in article.tags %}
                            <span class="tag">
                                <a href="{{ path('article_list_by_tag', {'slug':tag.slug}) }}#sort_anchor">#{{ tag }}</a>
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
            </footer>
        </article>
    {% else %}
        <p>There are no articles yet</p>
    {% endfor %}

    <div class="pager">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}


