<header>
    <h3>Tag Cloud</h3>
</header>


{% for tag in tags %}
    <a href="{{ path('article_list_by_tag', {'tagId':tag.id}) }}">{{ tag.name }}</a>
{% else %}
    <p>There are no tags</p>
{% endfor %}

<header>
    <h3>Categories</h3>
</header>

<ul>
    {% for category in categories %}
        {% if(category.parent == null) %}
            <li>
                <a href="{{ path('article_list_by_category', {'categoryId':category.id}) }}"> {{ category.name }}</a>
                {% include 'Page/categories.html.twig' with {'categories':category.children} %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<header>
    <h3>Latest comments</h3>
</header>

{% for comment in latestComments %}
     <p>
         <b>{{ comment.author.name }} {{ comment.author.surname }}</b>
         comented on <i><b>{{ comment.article.title }}:</b></i>
         {{ comment.content }}
     </p>
{% else %}
    <p>There are no comments</p>
{% endfor %}
