{% extends 'layout.html.twig' %}

{% block body %}
    <header><a name="article"></a>
        <h3>{{ form_title }}</h3>
    </header>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    <span class="span-block">
        {{ form_row(form.tags) }}
        {{ form_row(form.users) }}
    </span>
    {{ form_end(form) }}
{% endblock %}