{% extends 'layout.html.twig' %}

{% block body %}

    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>

    <script>
        $(".subcommentform").hide();
    </script>

    <section class="article-title">
        <span class="category">
            Category:[<a href="{{ path('article_list_by_category', {'slug':article.category.slug}) }}">{{ article.category }}</a>]
        </span>
        <h2><a href="{{ path('show_article', {'slug': article.slug}) }}">{{ article.title }}</a></h2>
    </section>

    <div class="date">
        <time>{{ article.dateCreated|date('l, F j, Y') }}</time>
    </div>
    {% if article.imageName %}
        <img class="article-image" src="{{ asset('articles/'~ article.imageName )}}">
    {% endif %}
    <div>
        <p>{{ article.content }}</p>
    </div>
    <footer class="meta">
        <p>
            <span class="glyphicon glyphicon-comment"></span>
            <a href="{{ path('show_article', {'slug':article.slug}) }}#comments">
                <span class="badge">
                    {{ article.comments|length }}
                </span>
            </a>&nbsp &nbsp
        {% if app.user in article.liked_users %}
            {% set color = 'steelblue' %}
        {% else %}
            {% set color = 'lightblue' %}
        {% endif %}
            <span class="glyphicon glyphicon-heart" id="like_hart" style="color:{{ color }}"></span>
            <span class="badge">
                <span style="cursor: pointer;" id="like" data-id="{{ article.id }}" >
                    {{ article.likes }}
                </span>
            </span>
        </p>

        <p>
            Posted by {% for user in article.users %}
            <span class="author">
                <a href="{{ path('article_list_by_author', {'slug':user.slug}) }}">
                    {{ user }}
                </a>
            </span> {% endfor %} at {{ article.dateCreated|date('G:i, j.m.Y') }}
        </p>

        {% if article.dateUpdated %}
            <p>
                Updated by <span class="author"><a href="#">{{ random (article.users) }}</a></span>
                at {{ article.dateUpdated|date('G:i, j.m.Y') }}
            </p>
        {% endif %}
        {% if article.tags|length > 0 %}
            <p>Tags:
                {% for tag in article.tags %}
                    <span class="tag">
                        <a href="{{ path('article_list_by_tag', {'slug':tag.slug}) }}">#{{ tag }}</a>
                    </span>
                {% endfor %}
            </p>
        {% endif %}
    </footer>

    <h3><a name="comments"></a>Comments</h3>
    {% if comments %}
        {% for comment in comments %}
            {% if(comment.parent == null) %}
                <section class="comment">
                    {% if not comment.author.avatar %}
                        <img src="{{ asset('avatars/no_avatar.jpg') }}">
                    {% else %}
                        <img src="{{ asset('avatars/'~ comment.author.avatar )}}">
                    {% endif %}
                    <div class="comment-header">
                        <p>
                            <span id="login">{{ comment.author.login }}</span>
                            <span id="date">{{ comment.dateCreated|date('j.m.Y, G:i') }}</span>
                        {% if app.user == comment.author or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('comment_delete', {'id':comment.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="{{ path('comment_update', {'id':comment.id}) }}#comments"><span class="glyphicon glyphicon-edit"></span></a>
                        {% endif %}
                        </p>
                    </div>
                    <div class="comment-content">
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                    <input type="button" class="button btn btn-default btn-xs" value="Answer"
                       onClick='$("#form"+{{ comment.id }}).show()'>
                </section>
                <div class="subcommentform" id="form{{ comment.id }}">
                    {{  render(controller('AppBundle:Comment:subcommentCreate', {'article_id': comment.article.id, 'comment_id':comment.id})) }}
                </div>
                <div class="subcomment">{% include 'Comment/comments.html.twig' with {'comments':comment.children} %}</div>
            {% endif %}
        {% endfor %}
    {% else %}
        There are no comments on this article. Be the first...
    {% endif %}

    <section class="add-comment">
        {% if is_granted('ROLE_AUTHOR') %}
            <h3>Add new Comment</h3>
            {{ render(controller('AppBundle:Comment:create',{ 'article_id': article.id })) }}
        {% else %}
            Only <a href="{{ path('login') }}">logged in</a> users can left comments
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#like").bind("click", function(event) {
                $.ajax({
                    url: "{{ path('article_like', {'id':article.id}) }}",
                    type: "GET",
                    data: ($("#like").attr("data-id")),
                    dataType: "text",
                    success: function(result) {
                        if (result) {
                            var res = JSON.parse(result);
                            $("#like").text(res[0]);
                            $("#like_hart").css('color', res[1]);
                        }
                        else $("#like").text('?');
                    }
                });
            });
        });
    </script>

{% endblock %}



