<script>
    $(".subcommentform").hide();
</script>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>

{% for comment in comments %}
    <section class="comment" id="{{ comment.id }}">
        {% if not comment.author.avatar %}
            <img src="{{ asset('avatars/no_avatar.jpg') }}">
        {% else %}
            <img src="{{ asset('avatars/'~ comment.author.avatar )}}">
        {% endif %}

        <div class="comment-header">
            <p><span id="login">{{ comment.author.login }}</span> <span id="date">{{ comment.dateCreated|date('j.m.Y, G:i') }}</span>

            {% if app.user == comment.author or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('comment_delete', {'id':comment.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="{{ path('comment_update', {'id':comment.id}) }}#comments"><span class="glyphicon glyphicon-edit"></span></a></p>
            {% endif %}
        </div>

        <div class="comment-content">
            <p>{{ comment.content }}</p>
        </div>

        {% if not comment.parent.parent %}

        <input type="button" id="button" class="button btn btn-default btn-xs" value="Answer" onclick='$("#form"+{{ comment.id }}).show()'>
            <div class="subcommentform" id="form{{ comment.id }}">
                {{  render(controller('AppBundle:Comment:subcommentCreate', {'article_id': comment.article.id, 'comment_id':comment.id})) }}
            </div>
        {% endif %}
    </section>

    <div class="subcomment">{% include 'Comment/comments.html.twig' with {'comments':comment.children} %}</div>

{% endfor %}