{% extends 'layout.html.twig' %}

{% block body %}

    <h3>Enter your data</h3>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>click here for <a href="{{ path('registration') }}">registration</a></p>
{% endblock %}